{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}

<div class="container">
    <h1 id="titre">Vos informations</h1>
    <a class="btn btn-success" href="/mon-profil">Revenir en arrière</a>
</div>

<div class="container" id="changeUserInfo">

  {{ form_start(form)}}

    <div class="row">
        <div class="col">    
            {{form_row(form.pseudo ,{'label':'Nom d\'utilisateur', 'attr': {'class' : 'form-control'}})}}
        </div>
    </div>
    <div class="row">
        {{form_row(form.email ,{'label':'Adresse email', 'attr': {'class' : 'form-control'}})}}
    </div>
    <div class="row">
        {{form_row(form.address ,{'label':'Adresse', 'attr': {'placeholder': 'Numéro et nom de rue', 'class' : 'form-control'}})}}
    </div>
    <div class="row">
        <div class="col">
            {{form_row(form.zipCode ,{'label':'Code postal', 'attr': {'class' : 'form-control'}})}}
        </div>
        <div class="col">
            {{form_row(form.city ,{'label':'Ville', 'attr': {'class' : 'form-control'}}) }}
        </div>
    </div> 
    {{form_row(form.password ,{'label':'Mot de passe', 'attr': {'class' : 'form-control'}})}}
    {{form_row(form.confirm_password ,{'label':'Confirmation du mot de passe', 'attr': {'class' : 'form-control'}})}}

    <div class="container text-center">
        <button type="submit" class="btn btn-success">Modifier mes informations</button>
    </div>

    {{ form_end(form)}}


</div>

{% endblock %}