{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}
<div class="container">
    <h1 id="titre">Voici la liste de vos demandes de services en cours</h1>
    <h2>Attendez qu'un volontaire se propose !</h2>
    <a class="btn btn-success" href="/mon-profil">Revenir en arrière</a>
</div>
<div class="container table-responsive">

    <table class="table tableUser " id="ongoing" >
    <thead>
        <tr>
            <th scope="col"></th>
            <th class="hide" scope="col">Categorie</th>
            <th class="ellipsis" scope="col">Titre</th>
            <th class="hide ellipsis" scope="col">Description</th>
            <th class="hide" scope="col">Date de publication</th>
            <th class="hide" scope="col">Date de mise à jour</th>
            <th scope="col">Statut</th>
            <th scope="col">Action</th>
            </tr>
    </thead>
    <tbody>

    {% if form is defined %}
    {{ form(form)}}
    {% endif %}

        {% for ongoingRequest in ongoingRequests %}
            <tr>
                <td class="align-middle" style='background-color:#F54527;'>
                {% if ongoingRequest.category =="Soin aux animaux de compagnie"  %}
                    <img width='45' src="/img/animal-de-compagnie.png">
                {% elseif ongoingRequest.category == 'Livraison de médicaments' %}
                    <img width='45' src="/img/medicaments.png">
                {% elseif ongoingRequest.category == 'Envoi/Retrait de colis ou lettre' %}
                    <img width='45' src="/img/package.png">
                {% elseif ongoingRequest.category == 'Livraison de courses'  %}
                    <img width='45' src="/img/panier.png">
                {% elseif ongoingRequest.category == 'Activités culturelles'  %}
                    <img width='45' src="/img/loisirs.png">
                {% else  %}
                    <img width='45' src="/img/point-d'interrogation.png">
                {% endif %}
                </td>
                <td class="hide" >{{ ongoingRequest.category }}</td>
                <td class="ellipsis">{{ ongoingRequest.title }}</td>
                <td class="hide ellipsis" >{{ ongoingRequest.description }}</td>
                <td class="hide" >{{ ongoingRequest.createdAt.format('d/m/Y') }}</td>
                <td class="hide">{{ ongoingRequest.updatedAt.format('d/m/Y') }}</td>
                <td>
                    {% if ongoingRequest.status == "CREATED" %}
                    En attente de volontaire
                    {% elseif ongoingRequest.status == "MISSION" %}
                    En cours de complétion
                    {% else %}
                    
                    {% endif %}
                <td class="text-center">
                    <a href="{{ path('request_update', {id: ongoingRequest.id}) }}" class="btn btn-primary">Editer</button>
                    {% if ongoingRequest.status == "MISSION" %}
                    <a href="{{ path('request_completion', {id: ongoingRequest.id}) }}" class="btn btn-secondary" onclick="return confirm('Etes-vous sûr de vouloir marquer cette demande comme terminée?')">Marquer comme terminée</button>
                    {% endif %}
                    <a href="{{ path('request_cancellation', {id : ongoingRequest.id, serviceRequest : ongoingRequest}) }}"  onclick="return confirm('Etes-vous sûr de vouloir annuler cette demande?')" class="btn btn-danger">Annuler</button>
                </td>      
            </tr>
        {% endfor %} 

    </tbody>
    </table>

</div>

{% endblock %}

