{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}
<div class="container">
    <h1 id="titre">Voici la liste de vos missions en cours</h1>

    <a class="btn btn-success" href="/mon-profil">Revenir en arrière</a>
</div>
<div class="container table-responsive">

    <table class="table tableUser">
    <thead>
        <tr>
            <th scope="col"></th>
            <th class="hide" scope="col">Categorie</th>
            <th scope="col">Titre</th>
            <th  class="hide" scope="col">Date de début</th>
            <th scope="col">Bénéficiaire</th>
            <th scope="col">Action</th>
            </tr>
    </thead>
    <tbody>

        {% for ongoingMission in ongoingMissions %}
            <tr>
                <td style='background-color:#F54527;'>
                {% if ongoingMission.servicerequest.category =="Soin aux animaux de compagnie"  %}
                    <img width='45' src="/img/animal-de-compagnie.png">
                {% elseif ongoingMission.servicerequest.category == 'Livraison de médicaments' %}
                    <img width='45' src="/img/medicaments.png">
                {% elseif ongoingMission.servicerequest.category == 'Envoi/Retrait de colis ou lettre' %}
                    <img width='45' src="/img/package.png">
                {% elseif ongoingMission.servicerequest.category == 'Livraison de courses'  %}
                    <img width='45' src="/img/panier.png">
                {% elseif ongoingMission.servicerequest.category == 'Activités culturelles'  %}
                    <img width='45' src="/img/loisirs.png">
                {% else  %}
                    <img width='45' src="/img/point-d'interrogation.png">
                {% endif %}
                </td>
                <td  class="hide" >{{ ongoingMission.servicerequest.category }}</td>
                <td  class="ellipsis">{{ ongoingMission.servicerequest.title }}</td>
                <td  class="hide">{{ ongoingMission.createdAt.format('d/m/Y') }}</td>
                <td>{{ ongoingMission.beneficiary }}</td>
                <td class="text-center">
                    <a href="{{ path('mission_details', {id: ongoingMission.id}) }}" class="btn btn-secondary">Détails</button>
                    <a href="{{ path('mission_cancellation', {id: ongoingMission.id}) }}"  onclick="return confirm('Etes-vous sûr de vouloir annuler cette mission en cours?')" class="btn btn-danger">Se désister</button>
                </td>      
            </tr>
        {% endfor %} 

    </tbody>
    </table>

</div>

{% endblock %}