{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}
<div class="container">
    <h1>Voici la liste de vos missions passées</h1>
    <a class="btn btn-success" href="/mon-profil">Revenir en arrière</a>
</div>
<div class="container table-responsive">

    <table class="table tableUser">
    <thead>
        <tr>
            <th scope="col"></th>
            <th class="hide" scope="col">Categorie</th>
            <th scope="col">Titre</th>
            <th scope="col">Bénéficiaire</th>
            <th class="hide" scope="col">Date de publication</th>
            <th scope="col">Statut</th>
            <th class="hide" scope="col">Date de fin</th>
            </tr>
    </thead>
    <tbody>

        {% for pastMission in pastMissions %}
            <tr>
                <td style='background-color:#F54527;'>
                {% if pastMission.servicerequest.category =="Soin aux animaux de compagnie"  %}
                    <img width='45' src="/img/animal-de-compagnie.png">
                {% elseif pastMission.servicerequest.category == 'Livraison de médicaments' %}
                    <img width='45' src="/img/medicaments.png">
                {% elseif pastMission.servicerequest.category == 'Envoi/Retrait de colis ou lettre' %}
                    <img width='45' src="/img/package.png">
                {% elseif pastMission.servicerequest.category == 'Livraison de courses'  %}
                    <img width='45' src="/img/panier.png">
                {% elseif pastMission.servicerequest.category == 'Activités culturelles'  %}
                    <img width='45' src="/img/loisirs.png">
                {% else  %}
                    <img width='45' src="/img/point-d'interrogation.png">
                {% endif %}
                </td>
                <td class="hide">{{ pastMission.servicerequest.category }}</td>
                <td class="ellipsis">{{ pastMission.servicerequest.title }}</td>
                <td>{{ pastMission.servicerequest.beneficiary }}</td>
                <td class="hide">{{ pastMission.createdAt.format('d/m/Y') }}</td>
                <td>
                {% if pastMission.status == "COMPLETED" %}
                Complétée
                {% elseif pastMission.status == "CANCELLED" %}
                Annulée
                {% else %}
                
                {% endif %}
                </td>
                <td class="hide">{{ pastMission.updatedAt.format('d/m/Y') }}</td>      
            </tr>
        {% endfor %} 

    </tbody>
    </table>

</div>

{% endblock %}