{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}
<div class="container">
    <h1>Voici la liste de vos demandes de services passées</h1>
    <a class="btn btn-success" href="/mon-profil">Revenir en arrière</a>
</div>
<div class="container table-responsive">

    <table class="table tableUser">
    <thead>
        <tr>
            <th scope="col"></th>
            <th class="hide" scope="col">Categorie</th>
            <th scope="col">Titre</th>
            <th class="hide" scope="col">Description</th>
            <th class="hide" scope="col">Date de publication</th>
            <th scope="col">Statut</th>
            </tr>
    </thead>
    <tbody>

        {% for pastRequest in pastRequests %}
            <tr>
                <td style='background-color:#F54527;'>
                {% if pastRequest.category =="Soin aux animaux de compagnie"  %}
                    <img width='45' src="/img/animal-de-compagnie.png">
                {% elseif pastRequest.category == 'Livraison de médicaments' %}
                    <img width='45' src="/img/medicaments.png">
                {% elseif pastRequest.category == 'Envoi/Retrait de colis ou lettre' %}
                    <img width='45' src="/img/package.png">
                {% elseif pastRequest.category == 'Livraison de courses'  %}
                    <img width='45' src="/img/panier.png">
                {% elseif pastRequest.category == 'Activités culturelles'  %}
                    <img width='45' src="/img/loisirs.png">
                {% else  %}
                    <img width='45' src="/img/point-d'interrogation.png">
                {% endif %}
                </td>
                <td class="hide">{{ pastRequest.category }}</td>
                <td class="ellipsis">{{ pastRequest.title }}</td>
                <td class="hide ellipsis">{{ pastRequest.description }}</td>
                <td class="hide">{{ pastRequest.createdAt.format('d/m/Y') }}</td>
                <td>
                {% if pastRequest.status == "ARCHIVED" %}
                Mission complétée
                {% elseif pastRequest.status == "MISSION" %}
                En cours de complétion
                {% elseif pastRequest.status == "CANCELLED" %}
                Annulée
                {% else %}
                
                {% endif %}
                </td>     
            </tr>
        {% endfor %} 

    </tbody>
    </table>

</div>

{% endblock %}