{% extends 'base.html.twig' %}

{% block title %}Benevid - Mon profil{% endblock %}

{% block body %}

<div class="container">
  <h1> Bienvenue sur votre espace </h1>
</div>

<div class="container" id="messagerie">
  <a href="{{path('messages')}}" class="btn btn-success"> 
   <img src="/img/envelope.png" width='30'/> Messagerie
  </a>
</div>

<div class="container" id="user_activities">

  <div class="row justify-content-center" >
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
      <h2 class="profileTitle">Espace bénéficiaire</h2>
        <div class="row justify-content-around">
          <div class="col-xs-12 col-sm-5 profileColumn">
          <p Class="figure"> {{ nbOngoingRequests}}</p>
            <p class="text_useraccount"> Demandes en cours</p>
            <a class="btn" href="{{ path('ongoing_requests') }}"><img class="plus" src="/img/plus.png" alt="en voir plus" width="40" ></a>
          </div>

          <div class="col-xs-12 col-sm-5 profileColumn">
          <p Class="figure"> {{ nbPastRequests}}</p>
            <p class="text_useraccount">Demandes passées</p>
            <a class="btn" href={{ path('past_requests') }}><img class="plus" src="/img/plus.png" alt="en voir plus" width="40" ></a>
          </div>
        </div>
    </div>  
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
      <h2 class="profileTitle">Espace volontaire</h2>
        <div class="row justify-content-around">
          <div class="col-xs-12 col-sm-5 profileColumn">
            <p Class="figure"> {{ nbOngoingMissions}}</p>
            <p class="text_useraccount">Missions en cours</p>
            <a class="btn" href="{{ path('ongoing_missions') }}"><img class="plus" src="/img/plus.png" alt="en voir plus" width="40" ></a>
          </div>

          <div class="col-xs-12 col-sm-5 profileColumn">
            <p Class="figure">{{ nbPastMissions}}</p>
            <p class="text_useraccount">Missions passées</p>
            <a class="btn" href={{ path('past_missions') }}><img class="plus" src="/img/plus.png" alt="en voir plus" width="40" ></a>
          </div>
        </div>
    </div>  
  </div>

  

<div class="container"> 
  <div class="row justify-content-around">
    <div class="col-md-5 mt-4">
      <div class="card">
        <div class="card-horizontal align-items-center">
          <div class="img-square-wrapper">
            <img width='80' src="/img/house.png">
          </div>
          <div class="card-body">
            <h3>Mon adresse</h3>
            <p class="card-text">{{app.user.address}} <br></p>
            <p class="card-text"> {{app.user.zipCode}} {{app.user.city}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-4">
      <div class="card">
        <a id="userInformations" href={{ path('user_modifications') }}>
          <div class="card-horizontal align-items-center">
            <div class="img-square-wrapper">
              <img width='80' src="/img/reglage.png">
            </div>
            <div class="card-body">
              <h3>Modifier mes informations</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
