{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="registrationForm " id="connexion_logo">

    <img src="/img/logo.png" width='300' >

</div>
<div class="container" id="connexion_form">
    <h1 id="connexion_title">Connexion</h1>

    <form action=" {{ path('registration_login') }}" method="POST">
        <div class="form-group">
            <input placeholder="Adresse mail" required name="_username" type="email" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Se connecter</button>
        </div> 
    
    </form>

</div>
<div class="container" id="connexion_inscription">
    <p> Pas encore inscrit? <br> Vous pouvez créer un compte <a href="/inscription">ici</a></p> 
</div>

{% endblock %}