body{
    background-color: #28347F !important;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 100px !important;
}

h1{
    font-family: 'Lato', sans-serif;
    color : white;
    font-weight : 700 !important;
    font-size : 45px !important;
    margin-top : 25px !important;
}

h2{
    font-family: 'Lato', sans-serif;
    color : white;
    font-size : 30px !important;
    font-weight: 500 !important;
    text-align: center;
}

@media screen and (max-width: 600px) {
    h1{
        text-align: center;
    }
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight : 600 !important;
    font-size : 22px !important;
}


/*NAVBAR*/

.bg-custom{
    background-color : white !important;
}

#navbarNav > ul{
    margin-right : 35px;
}
#navbarNav > ul > li{
    margin-right : 10px;
}

.navbar-custom a{
    color :#28347F !important;
    font-weight : 500 !important;
}


/*FOOTER*/

.bg-light{
    position: fixed;
    left : 0;
    bottom : 0;
    width : 100%;
}

#footer{
    min-height : 40px !important;
    color : #28347F;
    font-weight: 500;
    margin-right : 0px !important;
}

#footer > div:nth-child(2), #footer > div:nth-child(3){
    border-right : solid #28347F 2px;
}
@media screen and (max-width: 768px)  {
    #footer > div:nth-child(2), #footer > div:nth-child(3){
        border-right : none !important;
    }
}

#footer > div:nth-child(3){
    white-space: nowrap;
}

.footerElement{
    text-decoration: none ;
    color : #28347F;
    font-weight : bold;
}


/*PAGE CONNEXION*/
#connexion_logo{
    background-color: white;
    margin-top : 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#connexion_logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding : 20px;
}

#connexion_title{
    font-family: 'Lato', sans-serif;
    font-weight : 700;
    font-size : 45px !important;
    margin : 40px 0 20px 0;
    color : white;
    text-align: center;
}

#connexion_form{
    width : 350px;
}

#connexion_form .form-group{
    margin-top : 12px;
}

.btn-success{
    background-color: #F54527 !important;
    border: #F54527 !important;
    font-size : 20px !important;
    padding: 5px 35px !important;
    margin-top : 25px;
    font-family: 'Lato', sans-serif;
}

#connexion_inscription{
    margin-top : 40px;
    text-align : center;
    color : white;
    font-size: 15px;   
}

#connexion_inscription a{
    color : white;
    font-weight : 900;
}


/*PAGE INSCRIPTION*/
#registration_title{
    font-family: 'Lato', sans-serif;
    font-weight : 700;
    font-size : 45px !important;
    margin : 40px 0 20px 0;
    color : white;
    text-align: center;
}

#registration_form{
    width : 500px;
}

#registration_form > form > div {
    margin-top : 12px;
}

#registration_form > form label{
    color : white;
}

#registration_form > form  ul > li{
    color : white;
}

/*HOMEPAGE*/

#home_titre{
    text-align: center !important;
}

#requestsCounter{
    margin-top : 20px;
    font-size : 22px;
    color : white;
}

.requestPosting{
    text-align : center;
    margin-bottom: 40px;
}

hr{
    color: white !important;
    height : 3px !important;
    opacity : 1 !important;
}

.requestTitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px !important;
}

.requetes{
    margin-top : 20px;
    margin-bottom : 30px;
    padding : 10px !important;
    color :#28347F;
}

#extrait_requetes{
    max-width: 70% !important;
}

@media screen and (max-width: 600px) {
    #extrait_requetes{
        max-width:88% !important;
    }
}

.list{
    width : inherit !important;
}

.cards{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.requetes .row{
    margin-bottom : 20px;
}

.requetes img{
    background-color: #F54527;
    border-radius: 3px;
    padding : 5px;
}


/*PAGE ENVOI DE DEMANDE*/

#form > div > label{
    color : white;
    margin-top : 18px;
    text-align : left;
}

#form{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    #form{
        width : auto !important;
    }
}

#form_description{
    height : 200px;
}


/*PAGE LISTE DES DEMANDES DE SERVICES */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper{
    background-color: #F54527;
    margin: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-body{
    padding : 12px !important;
}

.card-text{
    margin-bottom : 3px;
}

.post-date{
    float : right;
    font-size : 12px; 
}

.post-category{
    font-weight: 600;
    margin-top : 6px;
    font-family: 'Lato', sans-serif;
}

.post-description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 595px !important;
}
@media screen and (max-width: 1000px)  {
    .post-description{
        max-width: 250px !important;
    }
}
@media screen and (max-width: 450px)  {
    .post-description{
        max-width: 160px !important;
    }
}

.post-beneficiary{
    font-size: 14px;
    margin-top : 10px;
    margin-bottom: 0px !important;
}

.card-body > a {
    float : right;
    padding : 8px 0 !important;
}

.card-body > a img{
    padding: 2px;
    background-color: #F54527;
    border-radius: 21px;
}

#sortResults{
    margin-top : 50px;
    margin-bottom : 10px;
}

#select{
    color : #28347F;
    font-weight: 500;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 3px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 275px;
}

/*PROFIL UTILISATEUR*/

#espace_beneficiaire, #espace_volontaire{
    margin-top : 35px;
    text-align: center;
}

.activities_cards{
    background-color: white;
    border-radius : 8px;
    padding : 10px;
    margin : 20px 40px !important;
}

#userInformations{
    text-decoration: none !important;
    color : #212529 !important;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profileTitle{
    margin : 20px 0;
}

@media screen and ( max-width:580px) {
    .profileColumn{
        width : 80% !important;
        margin-top : 20px !important;
        margin-bottom : 20px !important;
    }
}

.profileColumn{
    background-color : #fff;
    border-radius: 3px;
    text-align : center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-body{
    text-decoration: none !important;
}

.profileInfo_card{
    background-color: white;
    border-radius : 8px;
    padding : 10px;
    margin : 20px 80px !important;
}

.userprofile{
    margin : 10px 0 !important;
}

.figure{
    color: #f54527;
    font-size: 50px;
    font-family: 'Lato';
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.text_useraccount{

    font-size : 22px;
    color : #212529;
    margin-bottom : 5px !important;
}

.user_account_logos{
    background-color: #F54527;
    border-radius: 3px;
    padding : 8px;
}

.plus{
    padding : 5px;
    background-color: #F54527;
    border-radius: 3px;
    margin-bottom : 10px;
}

#user_accountinfo{
    margin-top : 30px;
}

#messagerie{
    text-align: right;
    margin-bottom : 15px;
}
@media screen and (max-width: 600px) {
    #messagerie{
        text-align: center !important;
    }
}


/*PAGE MODIFIER INFORMATIONS UTILISATEUR*/

#changeUserInfo  label{
    color : white ;
    padding-top : 12px;
}

/*PAGE DETAILS REQUETE*/

.jumbotron{
    width : 80%;
    background-color: white;
    border-radius: 5px;
    padding : 35px;
    margin : 25px auto !important;
}
@media screen and (max-width: 994px){
    .jumbotron{
        width : 90% !important;
    }
}

.display-4{
    color: #F54527;
    font-size: 50px !important;
    margin-top : 10px !important;
    margin-bottom: 25px !important;
}

.lead{
    font-size : 22px !important;
}

.hr{
    color : #28347F !important;
    margin : 40px 0 !important;
}

.details_content{
    font-size : 20px;
    font-weight: 300;
}

#container_jumbotron{
    margin-bottom : 70px !important;
}

@media screen and (max-width: 994px){
    .display-4{
        font-size: 32px !important;
    }
    .lead{
        font-size : 18px !important;
    }
}


/*PAGE UTILISATEUR - ACTIVITES*/

.tableUser{
    background-color : #fff;
    margin-top : 10px; 
    border-radius : 3px;
}

tr{
    vertical-align: middle;
}

th{
    font-size : 18px;
    font-family: 'Lato';
}

@media screen and (max-width : 768px){
    .hide{
        display : none
    }
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px !important;
}


/*MESSAGERIE*/

#myTab{
    margin-top : 20px;
}

.nav-link.active{
    color : #fff !important;
    font-weight : bold;
    background-color : #28347F !important;
    border : 2px solid #fff!important;
    font-size : 22px;
}

.nav-link{
    color : white !important;
    font-size : 18px;
}

.tab-content{
    background-color: #fff;
    padding : 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#received >.row.head, #sent >.row.head{
    font-size : 20px;
    font-weight : bold;
    padding-bottom : 20px;
    padding-top : 15px;
}

.messageLine{
    font-size : 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row.message{
    padding : 5px 0px;
    border-top : 1px solid #28347F;
    vertical-align: middle;
}

.messageSubject{
    color : #212529 !important;
}

.bin{
    background-color: #F54527;
    padding : 5px;
    margin-right : 5px;
}

.edit{
    background-color: #28347F;
    padding : 5px;
    margin-right : 5px;
}

.actionLinks > a{
    text-decoration: none !important;
}

@media screen and (max-width: 600px) {
    .center{
        text-align: center !important;
    }
}

#message_response label, #message label{
    color : white;
    padding-top : 15px;
}

/*ABOUT*/
.about_texte{
    color : white;
    text-align: justify;
    margin : 25px 15px !important;
    font-size : 19px;
    text-indent: 60px;
}



/*FAQ*/
.btn-faq{
    text-decoration: none !important;
    color: #28347F !important ;
    font-weight: bold !important;
}

.accordion{
    margin : 50px 0;
}


/*MENTIONS LEGALES*/

#LegalMentions > p{
    padding : 0 10px;
    color : white; 
}

/*CONTACT*/

#contact  label{
    color : white;
    padding-top : 12px;
}