{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}

<div class="container">
    <h1>A propos de Benevid</h1>

    <p class="about_texte">Chaque année, l’entreprise Berger-Levrault propose à un certain nombre d’écoles partenaires de participer à un concours nommé City’ZEN Challenge dont le thème change tous les ans. Le thème de cette année était “Covid-19 and beyond - Rebooting Society” et pour la première fois, Simplon a été convié à participer. Nous avons donc commencé par former une équipe et proposé un projet d’application mobile qui a été sélectionné.</p>

	<p class="about_texte">Le concours a démarré en janvier 2021 pour se finir le 30 juin dernier, lors de la journée de présentation au jury final au siège à Boulogne-Billancourt.</p>

    <div class="container text-center">
        <img src="/img/cityzen.jpg" width='75%'/>
    </div>

	<p class="about_texte">L’objectif du concours était de concevoir un projet d’application mobile de A à Z, n’incluant pas uniquement les aspects techniques du projet mais également les aspects commerciaux et financiers. Trois livrables étaient à fournir : un rapport contenant toutes les spécifications du projet (analyse de l’environnement concurrentiel, proposition de valeur, business model, et spécifications techniques), un POC (sous forme de maquettes dynamiques) et une vidéo promotionnelle à l’attention des potentiels utilisateurs de l’application. </p>
	
    <p class="about_texte">Notre projet était une application permettant de favoriser l’entraide et la solidarité entre des personnes vivant proches les unes des autres (même quartiers, villages etc). En effet, les contraintes liées aux mesures de quarantaine ont empêché les personnes concernées d’effectuer les tâches du quotidien à cause de l’impossibilité de sortir de chez elles.</p>

	<p class="about_texte">Au départ, nous étions 10 équipes en compétition, puis après deux phases de sélection, nous n’étions plus que 8 lors de la présentation au jury. Et c’est notre projet qui a remporté le premier prix cette année. Nous avons eu le plaisir d’apprendre que Benevid serait intégré à un des produits actuels de Berger-Levrault et sera même testé bientôt.</p>

</div>

{% endblock %}