<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Welcome!{% endblock %}</title>
  
      {% block stylesheets %}
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">  
          <link rel="stylesheet" href="{{ asset('css/style.css') }}">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      {% endblock %}

      {% block javascripts %}
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-light navbar-expand-lg navbar-custom bg-custom">
      <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/BenevidLogo2.png" alt="Benevid Logo" width="40" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ">
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="/envoyer-une-demande">Envoyer une demande de service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/liste-des-demandes">Liste des demandes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mon profil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/mon-profil">Tableau de bord</a>
                <a class="dropdown-item" href="{{ path("messages")}}">Messagerie</a>
              </div>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/a-propos">A propos de Benevid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">F.A.Q.</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="{{path('logout') }}">Déconnexion</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{path('registration_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/a-propos">A propos de Benevid</a>
            </li>

            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>

          {% for message in app.flashes('success') %}

            <div class="alert alert-success">
            {{ message }}
            </div>
    
          {% endfor %}

          {% for message in app.flashes('fail') %}

            <div class="alert alert-danger">
            {{ message }}
            </div>
    
          {% endfor %}

          {% for message in app.flashes('message') %}

            <div class="alert alert-success">
            {{ message }}
            </div>
    
          {% endfor %}

        {% block body %}

        {% endblock %}

            {% block footer %}
            
            <div class="container-fluid bg-light text-center">
              <div class="row align-items-center" id="footer">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                  <a class="footerElement" href="{{path("sitemap") }}">Plan du site</a>
                </div>
                <div class="col-md-4">
                  <a class="footerElement" href="{{path("legal_mentions") }}">Mentions Légales</a>
                </div>
                <div class="col-md-3">
                  <a class="footerElement" href="{{path("contact")}}">Contact</a>
                </div>
                <div class="col-md-1">
                </div>
              </div>
            </div>
 
            {% endblock %}

    </body>
</html>
