{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <h1>Formulaire de contact</h1>

   {{ form(form)}}

</div>

{% endblock %}