{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}


<div class="requestPosting container" >
    <h1 id="home_titre"> Bienvenue {{ app.user.pseudo }}!</h1>
    <p id="requestsCounter"> Grâce à l'ensemble de la communauté Benevid, {{nbCompletedMissions}} demandes de services ont été complétées <br>A votre tour de demander un service à un voisin !</p>
    
    <a class="btn btn-success" id="btn_envoi_demande"href="{{ path("request_posting")}}">Envoyer une demande de service</a>
</div>

<hr>

<div class="RequestsSmallList container">
    <h2>Consulter les dernières annonces publiées</h2>
</div>

<div class="container requetes" id="extrait_requetes">
    <div class="row justify-content-center">
        {% for service in servicesList|sort((a, b) => a.updatedAt <=> b.updatedAt)%}
        <div class="col-md-10 mt-4">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        {% if service.category =="Soin aux animaux de compagnie"  %}
                            <img  width='90' src="/img/animal-de-compagnie.png">
                        {% elseif service.category == 'Livraison de médicaments' %}
                            <img  width='90' src="/img/medicaments.png">
                        {% elseif service.category == 'Envoi/Retrait de colis ou lettre' %}
                            <img  width='90' src="/img/package.png">
                        {% elseif service.category == 'Livraison de courses'  %}
                            <img  width='90' src="/img/panier.png">
                        {% elseif service.category == 'Activités culturelles'  %}
                            <img  width='90' src="/img/loisirs.png">
                        {% else  %}
                            <img width='90' src="/img/point-d'interrogation.png">
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ service.title }}</h3>
                        <a class="btn" href="/liste-des-demandes/{{ service.id }}"><img src="/img/plus.png" alt="en voir plus" width="35" ></a>
                        <p class="card-text post-category">{{ service.category }}</p>
                        <p class="card-text post-description">{{ service.description }}</p>
                        <p class="card-text post-beneficiary">{{ service.beneficiary }}</p>
                        <p class="card-text post-date">{{ service.updatedAt |date('d-m-Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
