{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}

<div class="container">
    <a class="btn btn-success" href={{ path("ongoing_missions") }}>Revenir en arrière</a>
</div>

<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">{{ mission.serviceRequest.title }}</h1>
    <p class="lead">{{ mission.serviceRequest.category }}</p>
    <p class="lead">Quartier/Ville : {{ mission.beneficiary.zipCode }} {{ mission.beneficiary.city }}</p>
    <p class="lead">Description :</p>
    <p >{{ mission.serviceRequest.description }}</p>
    <hr class="my-4">
    <p  class="lead" >Auteur : {{mission.beneficiary}}
    <p class="lead">Date de publication : {{mission.createdAt.format('d/m/Y') }}</p>
    <p class="lead">

    </p>
    </div>
</div>

{% endblock %}