{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des demandes de services</h1>
</div>

<div class="container text-center" id="sortResults">
    <form action="/liste-des-demandes"  method="GET">
        <select class="text-center" id="select" name="orderBy" class="form-control" onChange='$("#sortResults form").submit();'>
            <option value ="updatedAt" {% if app.request.query.get('orderBy')=="updatedAt"%}selected="selected"{% endif %}>De la plus récente à la plus ancienne</option>
            <option value ="distance" {% if app.request.query.get('orderBy')=="distance"%}selected="selected"{% endif %}>De la plus proche à la plus éloignée</option>  
        </select>
    </form>
</div>

<div class="container"> 
    <div class="row justify-content-center">
    {% for service in servicesList %}
        <div class="col-md-10 mt-4">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        {% if service.category =="Soin aux animaux de compagnie"  %}
                            <img  width='90' src="/img/animal-de-compagnie.png">
                        {% elseif service.category == 'Livraison de médicaments' %}
                            <img  width='90' src="/img/medicaments.png">
                        {% elseif service.category == 'Envoi/Retrait de colis ou lettre' %}
                            <img  width='90' src="/img/package.png">
                        {% elseif service.category == 'Livraison de courses'  %}
                            <img  width='90' src="/img/panier.png">
                        {% elseif service.category == 'Activités culturelles'  %}
                            <img  width='90' src="/img/loisirs.png">
                        {% else  %}
                            <img width='90' src="/img/point-d'interrogation.png">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ service.title }}</h3>
                        <a class="btn" href="/liste-des-demandes/{{ service.id }}"><img src="/img/plus.png" alt="en voir plus" width="35" ></a>
                        <p class="card-text post-category">{{ service.category }}</p>
                        <p class="card-text post-description">{{ service.description }}</p>
                        <p class="card-text post-beneficiary">{{ service.beneficiary }}</p>
                        <p class="card-text post-date">{{ service.updatedAt |date('d-m-Y') }}</p>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>
{% endblock %}