{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">{{ serviceRequest.title }}</h1>
    <p class="lead">{{ serviceRequest.category }}</p>
    <p class="lead">Quartier/Ville : {{ serviceRequest.beneficiary.zipCode }} {{ serviceRequest.beneficiary.city }}</p>
    <p class="lead">Description :</p>
    <p >{{ serviceRequest.description }}</p>
    <hr class="my-4">
    <p  class="lead" >Auteur : {{serviceRequest.beneficiary}}
    <p class="lead">Date de publication : {{serviceRequest.createdAt.format('d/m/Y') }}</p>
    <p class="lead">
    
    {{ form(form) }}

    </p>
    </div>
</div>

{% endblock %}