{% extends 'base.html.twig' %}

{% block title %}Benevid{% endblock %}

{% block body %}



<div class="container">

<h1>Poster une demande de service</h1>

{{ form(form) }}

</div>


{% endblock %}