{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
 
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Messagerie</h1>
            <div class="center">
                <a href="{{ path("send")}}" id="sendMessage" class="btn btn-success">Envoyer un message</a>
            </div>
            <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="true">Boîte de réception</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent" type="button" role="tab" aria-controls="sent" aria-selected="false">Messages envoyés</button>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">
                    <div class="row head">
                        <div class="col">De</div>
                        <div class="col">Sujet</div>
                        <div class="col hide">Date</div>
                        <div class="col hide">Contenu</div>
                        <div class="col text-center">Action</div>
                    </div>
                        {% for message in app.user.received %}
                            {% if message.isRead == 0 %}
                                {% set bold = "fw-bold" %}
                            {% else %}
                                {% set bold = "" %}
                            {% endif %}
                                <div class="row message">
                                    <div class="messageLine col {{bold}} ">{{ message.sender.pseudo}}</div>
                                    <div class="messageLine col {{bold}}" >
                                        <a class="messageSubject" href="{{path("read", {id:message.id})}}">{{ message.title}}</a>
                                    </div>
                                    <div class="messageLine col hide {{bold}}">{{ message.createdAt  | date('d/m/Y') }}</div>
                                    <div class="messageLine col  hide {{bold}}">{{ message.message}}</div>
                                    <div class="messageLine text-center col actionLinks {{bold}}">
                                        <a href="{{ path("response", {id:message.id})}}">
                                            <img class="edit" src="/img/edit.png" width='35d'/>
                                        </a>
                                        <a href="{{ path("delete", {id:message.id})}}">
                                            <img class="bin" src="/img/trash.png" width='35'/>
                                        </a>
                                    </div>
                                </div>
                        {% endfor %}
                </div>
                <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
                    <div class="row head">
                        <div class="col">A</div>
                        <div class="col">Sujet</div>
                        <div class="col hide ">Date</div>
                        <div class="col hide">Contenu</div>
                        <div class="col text-center">Action</div>
                    </div>
                        {% for message in app.user.sent %}
                            <div class="row message">
                                <div class="messageLine col">{{ message.recipient.pseudo}}</div>
                                <div class="messageLine col">
                                    <a class="messageSubject" href="{{path("read", {id : message.id})}}">{{ message.title}}</a>
                                </div>
                                <div class="messageLine col hide">{{ message.createdAt|date('d/m/Y')}}</div>
                                <div class="messageLine col hide">{{ message.message}}</div>
                                <div class="messageLine text-center col actionLinks">
                                    <a href="{{ path("delete", {id : message.id})}}">
                                        <img class="bin" src="/img/trash.png" width='35'/></a>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>

        </div>
    </div>    
</div>
{% endblock %}
