{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
 
{% block body %}

<div class="container">
    <div class="row">
            <h1>Détails du message</h1>
    </div>
</div>

<div class="container">
    <div class="jumbotron">

            <h1 class="display-4 text-center">{{ message.title}}</h2>
            <p class="lead">Message de {{ message.sender.pseudo}}</p>
            <p class="lead">Le {{ message.createdAt | date('d/m/Y') }}</p>
            <div> {{ message.message }} </div>
            <hr class="my-4">
            <div class="container text-center">
               {#  <a  href="{{ path("response")}}" class="btn btn-success">Répondre</a> #}
            </div>
    </div>
</div>

<div class="container text-center">
    <a href="{{ path("messages")}}" class="btn btn-success">Retour à la boite de réception</a>
</div>

{% endblock %}
