{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
 
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Envoyer un message</h1>
            {{ form(form)}}
          
        </div>
    </div>
</div>
{% endblock %}
